@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');
body{
  background-color: #c8dad3;
}

.jumbotron{
    margin-top: 100px;
    margin-bottom: 0;
    height: 670px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: #626f92;
    box-shadow: 1px 0px 2px #ffffff;
  }

  .labels{
    font-family: monospace;
    font-weight: lighter;
    font-size: 25px;
    color: #6150c1;
  }



  .top-form{
    margin-top: 100px;

  }

  .lead{
    margin: 30px 30px 30px 10px;
    font-size: 20px;
    font-family: 'Khula', sans-serif;
  }

  .genders{
    margin-left: 50px;
  }

  .btn{
    margin-left: 50px;
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 20px;
  }
  .rounded-circle{
    margin-left: 40%;
  }
  
  
